*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none !important;
}

html {
  font-size: 22px;
}

@media (max-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

